*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
nav {
	background: #FFFFFF;
}

#logo {
	font-family: 'Montserrat';
	font-style: normal !important;
	font-weight: 900 !important;
	font-size: 24px !important;
	line-height: 24px;
	/* identical to box height, or 100% */


	color: #003363;
}

nav a {
	font-family: 'Montserrat';
	font-style: normal !important;
	font-weight: 700 !important;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height, or 150% */
	color: #004E84 !important;
}

#page4 {
	height: 749px;
	background: 
		linear-gradient(

			rgba(0, 34, 65, 0.61),
			rgba(0, 34, 65, 0.61)
			),

		url("./images/banner.jpg");
		background-repeat: no-repeat;
		background-size: cover;

	;
}

#title {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 68px;
	line-height: 84px;
	/* or 124% */

	display: flex;
	align-items: center;
	text-align: center;

	/* GS Brand / White */

	color: #FFFFFF;
}

#base {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 8px 24px;
	gap: 8px;

	width: 171px;

	background: #12C6FF;
	border-radius: 2px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;

	color: #FFFFFF;

}

#page2 {
	height: 751px;
	background: #003363;
}

#featureList {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 0px;
	gap: 16px;
}
#text-title {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;

	color: #12C6FF;
}
#featureList > p {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	/* or 150% */

	color: #FFFFFF;
}


#page3{
	height: 750px;
}

#pre-footer {
	height: 389px;
	background: #003363;
}

#follow {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 24px;
	/* identical to box height, or 100% */

	text-align: center;
	color: #FFFFFF;
}

.social {

	background: #D1D1D6;
	border-radius: 100%;
	height: 50px;
	width: 50px;
}

footer {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	line-height: 24px;
	/* identical to box height, or 185% */

	text-align: center;

	color: #003363;
}